.filter-bar {
    background-color: #334155;
    border-radius: 12px;
    border: 3px solid #ecc94b;
    padding: 4px 15px;
    color: white;
    display: flex;
    height: '50px';
    justify-content: center;
    align-items: center;
    gap: 140px;  
    margin: 10px 0;
    flex-wrap: wrap;  
  }
  
  .filter-item {
    display: flex;
    align-items: center;
    gap: 20px;  
  }
  
  .filter-item label {
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;  
  }
  
  .filter-item select,
  .filter-item input {
    padding: 6px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    background: #1e293b;
    color: white;
  }